table.employee-details--resources {
    width: 60%;
    text-align: center;
    border-collapse: collapse;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

    table.employee-details--resources th {
        padding: 8px 5px;
        color: #1f1f1f;
        text-align: center;
        border-right: 1px solid #E5E5E5;
        font-weight: normal;
        background: #efefef;
    }

    table.employee-details--resources td {
        padding: 8px 10px;
        border-right: 1px solid #E5E5E5;
    }

    table.employee-details--resources tr {
        text-align: right;
        border-left: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
    }